@import 'materialize-css';
@import 'src/constants/Constants.scss';

.parallax-container {
  height: 500px;
  margin-bottom: 100px;
}

.parallax-container .parallax {
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

.MediaVideo {
  &__img {
    background-color: rgba(2, 57, 209, 0.5);
    height: 500px;
  }

  &__title {
    margin-top: 150px;
    height: 60px;
  }

  &__btnVideo {
    height: 150px;
    margin-top: 3em;
  }

  &__playIcon {
    position: relative;
    display: block;
    height: 100px;
    width: 100px;
    margin-left: calc(50% - 50px);
    z-index: 600;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__videocontainer {
    z-index: 1010;
    position: relative;
    display: block;
  }

  &__video {
    position: relative;
    height: auto;
    width: 100%;
    padding: 4vh;
  }
  
  &__wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
  }

  &__button {
    z-index: 1020;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 1.5em;
    width: 70px;
    font-size: $subtitle-font-size;
    line-height: 1.5em;
    border-radius: 3px;
    background-color: #2196f3;
  }
}
