<section class="container row how-it-works-six">
  <h4 class="center-align blue-text text-lighten-1">¿Cómo funciona?</h4>
  <p class="center-align grey-text text-darken-3 sub-title">
    Organizamos tus finanzas en 6 sencillos pasos
  </p>
  {{#each hiw}}
    {{> how-it-works-six-partials/item 
      title=this.title
      icon=this.icon
      description=this.description
    }}
  {{/each}}
</section>