@import '../../../core-configurations/src/scss/core-configurations.scss';

.swiper-container {
  width: 100%;
  height: calc(100vh - 180px);
  overflow: hidden;

  .swiper-wrapper {
    .swiper-slide {
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .triangle {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 2560px;
    height: 502px;
    background-position: -2px left;
    background-size: cover;
    background-image: url('/static/slides-horizontal/white-triangle.png');
  }

  .description {
    position: absolute;
    width: calc(100% - 70px);
    left: 35px;
    bottom: 10%;
    border-radius: 7px;
    z-index: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    p {
      margin: 0;
      padding: 20px;
      text-align: center;
      line-height: 1.7em;
      font-size: 1.1em;
      opacity: 0;
    }
  }

  .swiper-button {
    display: none;
    position: absolute;
    top: 0px;
    width: 100px;
    height: 100%;
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: 40px;
  }

  .swiper-button-next {
    background-image: url('/static/slides-horizontal/slider-button-next.svg');
    right: 0;
  }

  .swiper-button-prev {
    background-image: url('/static/slides-horizontal/slider-button-prev.svg');
    left: 0;
  }
}

@media only screen and (min-width: $tablet) {
  .swiper-container {
    .description {
      width: 300px;
      left: calc(50% - 300px / 2);
      overflow: hidden;

      p {
        line-height: 1.7em;
        font-size: 1.1em;
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  .swiper-container {
    height: calc(100vh - 64px);

    .description {
      width: 460px;
      left: calc(50% - 460px / 2);
      bottom: 14%;
      border-radius: 10px;

      p {
        padding: 30px;
        line-height: 1.9em;
        font-size: 1.2em;
      }
    }

    .swiper-button {
      display: block;
      outline: none;
    }

    .swiper-pagination {
      bottom: 6%;
    }
  }
}