@import 'materialize-css';
@import 'src/constants/Constants.scss';

$gradient: linear-gradient(19deg, #0a2bb3, #24b1e6);

.PlatformTrial {
  position: relative;

  &__background {
    &--mini {
      width: 100%;
      margin-top: -40px;
      padding: 60px 0 30px;
      background-image: $gradient;
    }
  
    &--desktop {
      background-image: $gradient;
    }
  }

  &__img {
    position: inherit;
    height: 220px;
    width: 80%;
    max-width: 350px;
    margin: 0 auto;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
    z-index: 1;
  }

  .Title {
    margin-bottom: 15px;
  }

  &__button {
    margin-top: 30px;
  }
}

@media screen and (min-width: 993px) {
  .PlatformTrial {
    height: 65vh;

    &__background {
      &--desktop {
        position: absolute;
        height: 100%;
        width: 50%;
      }
    }

    &__desktop-info {
      height: 100%;
    }

    &__img {
      position: absolute;
      top: 50px;
      right: 0;
      width: 55%;
      max-width: none;
      height: calc(100% - 100px);
      border-radius: 15px 0px 0px 15px;
      margin-bottom: 3em;
    }

    &__info {
      position: relative;
    }

    &__text {
      max-width: 290px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .PlatformTrial {
    &__text {
      max-width: 360px;
    }
  }
}