$mobile: 320px;
$tablet: 600px;
$desktop: 1024px;
$desktop-large: 1200px;

$grey-darken-1: #757575;
$grey-darken-2: #616161;
$grey-darken-3: #424242;

$blue-lighten-1: #42a5f5;
$blue-lighten-2: #64b5f6;
$blue-lighten-3: #90caf9;

$dark-blue: #405490;

$white: #ffffff;

body {
  background-color: #ffffff;
}
