<section class="container row solutions-six" id="solutions">
  <h4 class="center-align blue-text text-lighten-1">Nuestra Soluciones</h4>
  {{#each solutions}}
    {{> solutions-six-partials/item 
      title=this.title
      icon=this.icon
      color=this.color
      description=this.description
    }}
  {{/each}}
</section>