{{#if image}}
<div class="swiper-slide"
  style="background-image: url('{{image}}');">
</div>
{{else}}
<div class="swiper-slide">
  <video class="video" id="player" 
    controls="" autoplay="true">
    <source src="{{video}}" type="video/mp4">
  </video>
</div>
{{/if}}
