@import 'materialize-css';
@import 'src/constants/Constants.scss';

.Title {
  &__space {
    display: block;
  }

  &__text {
    display: block;
    font-size: $tilte-font-size;
    font-weight: $title-font-weight;
    line-height: 1.6em;
    text-align: center;
    @extend .blue-text;
  }
}
