$title-font-size: 2.3em;
$title-font-weight: 400;
$subtitle-font-size: 1.3em;
$subtitle-title-font-weight: 400;
$regular-text: 1em;
$medium-text: 1.15em;

$slim-font-weight: 200;
$medium-font-weight: 600;

$items-number: 1.5em;
$icons-size: 2.3em;

$white: white;
