@import 'materialize-css';
@import 'src/constants/Constants.scss';

.Square {
  display: block;
  padding: 0 15px;
  margin-top: 60px;

  &__icon,
  i {
    display: block;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.3);
    width: 64px;
    height: 64px;
    line-height: 64px;
    border-radius: 32px;
    margin-left: calc(50% - 32px);
    text-align: center;
    font-size: $icons-size;
  }

  &__title {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    font-size: $subtitle-font-size;
    font-weight: $subtitle-title-font-weight;
  }

  &__text {
    margin-top: 15px;
    text-align: center;
    font-size: $regular-text;
  }
}
