<div class="navbar-fixed">
  <nav class="white">
    <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><i class="material-icons blue-text lighten-2">menu</i></a>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a data-scroll href="#solutions">Soluciones</a></li>
        <li><a data-scroll href="#platform">Plataforma</a></li>
        <li><a data-scroll href="#about">Acerca</a></li>
        <li>
          <a class="waves-effect waves-light btn"
            target="_blank"
            href="https://www.listo.mx/entrar">
            <i class="material-icons right">vpn_key</i>
            {{accessText}}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li class="brand-logo"></li>
  <li><a data-scroll href="#solutions">Soluciones</a></li>
  <li><a data-scroll href="#platform">Plataforma</a></li>
  <li><a data-scroll href="#about">Acerca</a></li>
  <li><a data-scroll href="#contact">Contacto</a></li>
</ul>
