<div class="item col s12 m6 l4">
  <i class="material-icons {{color}}">{{icon}}</i>
  <strong class="col s12 center-align">{{title}}</strong>
  <span class="col s12 center-align">
    {{description}}
  </span>
</div>
