<section class="platform" id="platform">
  <div class="row">
    <div class="col s12 l6 background"></div>
    <div class="col s12 l6 image"><i class="z-depth-2"></i></div>
  </div>
  <div class="description white-text container row">
    <dir class="col content">
      <h4>Plataforma</h4>
      <p>
        Todo lo que necesitas para tu empresa en un sólo lugar.
      </p>
      <ul>
        <li>Todas tus facturas en un solo lugar.</li>
        <li>Genera Reportes personalizados.</li>
        <li>Impuestos controlados.</li>
      </ul>
      <a class="waves-effect waves-light btn white blue-text"
        href="https://listo.mx/registro?cobranding_id=6"
        target="_blank">
        14 días GRATIS
      </a>
    </dir>
  </div>
</section>
